<div class="container-fluid">
    <div class="container-xxl">
      <div class="row text-center">
        <h7>CORE FEATURES</h7>
        <h1>Why choose Quick Insights platform?</h1>
       
      </div>
    </div>
    <div class="container-xl container d-none d-md-block">
      <div class="image-container">
        <img class="animate__animated animate__fadeIn" src="img/Frame 1.png" alt="Imagen 1">
        <img class="animate__animated animate__fadeOut" src="img/Frame 2.png" alt="Imagen 2">
        <img class="animate__animated animate__fadeOut" src="img/Frame 3.png" alt="Imagen 3">
        <img class="animate__animated animate__fadeOut" src="img/Frame 4.png" alt="Imagen 4">
      </div>
    </div>

    <div class="container-fluid container d-block d-md-none">
      <div class="image-container2">
        <img class="animate__animated animate__fadeIn" src="img/Frame1-1.png" alt="Imagen 1">
        <img class="animate__animated animate__fadeOut" src="img/Frame2-2.png" alt="Imagen 2">
        <img class="animate__animated animate__fadeOut" src="img/Frame3-3.png" alt="Imagen 3">
        <img class="animate__animated animate__fadeOut" src="img/Frame4-4.png" alt="Imagen 4">
      </div>
    </div>
</div>