/* Estilos globales */
body {
    background:#1A1A1A;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color:#1A1A1A !important;
    border-bottom: rgba(255, 255, 255, 0.141) 2px solid;
}

.nav-link {
    color:white;
}

.nav-link:hover {
    color:#B9A100;
}

.btn-outline-secondary {
    --bs-btn-font-weight: 700;
    --bs-btn-color:#B9A100;
    --bs-btn-border-color:#B9A100;
    --bs-btn-bg: #372400;
    --bs-btn-hover-bg: #EED21B;
    --bs-btn-hover-color:#1A1A1A;
    --bs-btn-hover-border-color:#EED21B;
}

.btn-outline-light {
    --bs-btn-font-weight: 500;
}


.btn-sm {
    --bs-btn-padding-x: 1rem;
}

.navbar-toggler{
    --bs-navbar-toggler-border-color:#B9A100;
}

.navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(185, 161, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar ul{
    padding-inline-start: 80px;
}

.navbar li{
    padding-inline-start: 20px;
    font-size: 14px;
}

.btn-outline-secondary {
    margin-left: 20px;
}

.text-body-secondary{
    color: rgb(135, 135, 135) !important;
}

/* Estilos para el footer */
.footer{
    background-color:#1A1A1A !important;
    border-top: rgba(255, 255, 255, 0.141) 2px solid;
}

.footer li{
    font-size: 14px;
}

.footer p{
    font-size: 14px;
}

.footer button{
    font-size: 14px;
}

.fa-brands {
    margin-left: 20px;
    margin-right: 20px;

}

.circle-background {
    display: inline-block;
    background-color: #282828; /* Cambia el color de fondo del círculo según tus necesidades */
    padding: 10px; /* Ajusta el espaciado interno del círculo según tus necesidades */
    border-radius: 50%; /* Hace que el contenedor tenga bordes redondeados para formar un círculo */
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .circle-background i {
    margin: 0; /* Elimina el margen predeterminado del icono para que se ajuste completamente al círculo */
  }

  .circle-background:hover {
    background-color: rgb(54, 54, 54); /* Cambia el color de fondo del círculo según tus necesidades */
  }
  








@media (max-width: 992px) {
    .navbar ul{
        padding-inline-start: 0px;
    }
    
    .navbar li{
        padding-inline-start: 0px;
        font-size: 14px;
    }   
}